.counter-text {
	text-decoration: underline;
	text-align: center;
}

.counter-num {
	font-size: 20px;
	text-align: center;
}

#futurama-days-since {
	display: block;
	margin-left: auto;
	margin-right: auto;
  	width: 80%;
}