body {
	background: white;
	font-family: 'Ubuntu', sans-serif;
}

hr {
	width: 95%;
	border-top: 1px solid #b9b9b9;
	margin: 10px auto;
}

br {
	display: block;
}

form input {
	border: 1px solid #dddddd;
	width: 8%;
	height: 20px;
	margin-top: 5px;
}

label {
	font-weight: normal;
	font-style: italic;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	font-weight: normal;
	text-align: left;
	padding: 8px;
}

h6 {
	margin-left: 10px;
}

.table-title th {
	font-weight: bold;
}


.navbar-default {
	background-color: #b9b9b9;
	margin-bottom: 10px;
	border-color: white;
}

.navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

.navbar-default .navbar-brand {
	color: #4b4b4b;
	font-size: 24px;
}

.navbar-default .navbar-nav li a {
	color: #4b4b4b;
	font-size: 18px;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-default .navbar-nav:focus a, .navbar-default .navbar-brand:hover {
	color: black;
}

.col-main {
	border-left: 2px solid #b9b9b9;
}

#totalYearlyIncome {
	width: 85%;
}